.wrapper .content3 .main-box .main-right .bottom {
    margin:0 auto;
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    /* background-color: coral; */
}

.wrapper .content3 .main-box .main-right .bottom span{

    margin-right: 30px;

}

